<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AllUsers</title>
</head>
<body>
USERS
<br/><br/>

<form th:method="GET" th:action="@{/new}" th:object="${user}">
    <input type="submit" value="Create new user"/>
</form>
<br/>
<div th:each="user :${users}">
    <a th:href="@{/{id}/show(id=${user.getId()})}" th:text="${user.getName()}"></a>
    <a th:href="@{/{id}/updateUser(id=${user.getId()})}">Update</a>
    <form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
        <input th:type="submit" value="Delete user"/>
    </form>

</div>
<br/>

</body>
</html>